@charset "UTF-8";

.intro-lnb{
    position : absolute;
    width : 100%;
    top:0;
    left:0;
}

.intro-lnb .help-btn{
    position: absolute;
    top:25px;
    left:26px;
    width:108px;
    height:108px;
    background : url(../images/intro/bt_help.png) 0 0 no-repeat;
}


.intro-lnb .close-btn{
    position: absolute;
    background : url(../images/intro/bt_close.png) 0 0 no-repeat;
    top:26px;
    right:19px;
    width:103px;
    height:103px;
}

.version {
    position:absolute;
    bottom:30px;
    left:30px;
    font-weight:bold;
    color:#000;
    letter-spacing:0;
    font-size:1em;
    display:none;
}

.intro-wrap{
    position:relative;
    width : 100%;
    height : 100%;
}

.intro-bg {
    background : url( ../images/intro/bg_search.png );
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.intro-box{
    width:876px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* 하단 큰 버튼 공통 */
.intro-large-btn {
    width:634px;
    height:96px;
}

.intro-large-btn:active{
    background-position : 0 -96px;
}

.intro-small-btn {
    width:304px;
    height:96px;
}

.intro-small-btn:active{
    background-position : 0 -96px;
}

.box-wrap {
    position:relative;
}

.box-frame {
    -webkit-border-radius : 25px;
    -moz-border-radius : 25px;
    border-radius : 25px;
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.15);
}

.box-tit{
    height:80px;
    background:#00baf1;
    line-height:80px;
    text-align : center;
    -webkit-border-top-left-radius : 25px;
    -webkit-border-top-right-radius : 25px;
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-topright: 25px;
    border-top-left-radius : 25px;
    border-top-right-radius : 25px;
}

.box-tit img{
    vertical-align: middle;
}

.gradient-tit {
    background-image: -webkit-linear-gradient(top, #00baf1, #00a9ee);
    background-image:    -moz-linear-gradient(top, #00baf1, #00a9ee); /* Fx 3.6 부터 Fx 15 까지 처리 */
    background-image:     -ms-linear-gradient(top, #00baf1, #00a9ee); /* IE 10 Platform Previews, Consumer Preview */
    background-image:      -o-linear-gradient(top, #00baf1, #00a9ee); /* Opera 11.1 부터 12.0 까지 처리 */ 
    background-image:         linear-gradient(to bottom, #00baf1, #00a9ee); /* 표준구문, 표준구문은 반드시 마지막에 삽입해야한다. */
}

.box-cont-wrap{
    height:259px;
    background: #FFF;
    padding-bottom:25px;
    -webkit-border-bottom-left-radius : 25px;
    -webkit-border-bottom-right-radius : 25px;
    -moz-border-radius-bottomleft: 25px;
    -moz-border-radius-bottomright: 25px;
    border-bottom-left-radius : 25px;
    border-bottom-right-radius : 25px;
}

.box-cont{
    width:100%;
    overflow-y: scroll;
}


.blooth-list{
    height:259px;
}


.blooth-list li{
    height:71px;
    border-bottom: 1px solid #e5e5e5;
}

.blooth-list li a{
    display:inline-block;
    height:100%;
    width:100%;
    background: #FFF;
    text-align: center;
    line-height:71px;
    color:#000;
    font-size:2em;
}

.blooth-list li a:active{
    background: #2a76da;
}


.info-wrap {
    margin-top : 36px;
    text-align : center;
}

.button-wrap {
    margin-top : 34px;
    text-align : center;
}

.retry-search-btn {
    background : url(../images/intro/bt_retry_search.png) 0px 0px no-repeat;
}

.cancel-search-btn {
    background : url(../images/intro/bt_cancel_search.png) 0px 0px no-repeat;
}


/* 연결성공 : success */
.box-cont-wrap.result-box {
    text-align: center;
    height: 295px;
    padding : 30px 0 30px 0;
    margin : 0;
    color : #333;
}

.conn-state-ok-icon {
    text-align: center;
}

.conn-state-ok-name {
    margin-top : 7px;
    text-align: center;
    font-weight: bold;
    /*2.85em*/
    font-size : 2.5em;
}

.conn-state-ok-info {
    margin-top : 3px;
    text-align: center;
}

.conn-ok-btn {
    background : url(../images/intro/bt_conn_ok.png) 0 0 no-repeat;
}

.conn-rename-btn {
    margin-top : 36px;
    width:223px;
    height:65px;
    background : url(../images/intro/bt_rename.png) 0 0 no-repeat;
}

.conn-rename-btn:active {
    background-position : 0 -65px;
}

/* 연결실패 */
.intro-box.fail .box-cont-wrap{
    height : 229px;
    padding : 70px 0 56px 0;    
}

.intro-box.fail .button-wrap {
    margin-top : 86px;
}

.conn-state-ok-icon.intro-fail{
    text-align: center;
}

.conn-state-ok-info.intro-fail{
    margin-top : 57px;
}

.conn-fail-ok-btn {
    margin-right : 26px;
    background : url( ../images/intro/bt_conn_retry.png ) 0 0 no-repeat;
}

.conn-fail-cancel-btn {
    background : url( ../images/intro/bt_conn_cancel_s.png ) 0 0 no-repeat;
}

/* 접속중 connecting*/
.conn-state-ing-icon {
    margin-top : 40px;
    width : 396px;
    height : 104px;
    display : inline-block;
    background : url(../images/intro/conn_sprite.png);
}

.conn-state-ing-info{
    margin-top : 48px;
}

.conn-state-ing-info img{
    width : 362px;
}

.cancel-conn-btn {
    background : url(../images/intro/bt_conn_cancel.png) 0 0 no-repeat;
}


/* 팝업 */

.popup-contents {
    width : 100%;
    height : 100%;
}

.popup-wrap{
    position : absolute;
    left : 50%;
    top : 50%;
    transform: translate(-50%, -50%);
}

/* 이름변경 팝업 .popup-wrap*/
.intro-popup-rename .popup-wrap{
    width : 682px;
}

.intro-popup-rename .box-tit{
    height : 79px;
    background : #FFF;
    border-bottom : solid 2px #00b4f0;
    font-size: 3.34em;
    font-weight : bold;
    color:#000;
}

.intro-popup-rename .box-cont-wrap{
    height : 237px;
    padding : 30px 0;
    text-align : center;
}

.rename-input {
    width : 505px;
    height : 70px;
    display : inline-block;
    background : url( ../images/intro/bg_rename_input.png ) 0 2px no-repeat;
}
.rename-input span {
    display: inline-block;
    width : 293px;
    height :66px;
    border : solid 2px #bdbdbd;
    background : #f1f1f1;
    margin-left : 207px;
    padding : 0 10px;
    
}

.rename-input span.write {
    background : #FFF;
}

.rename-input input {
    margin-top : 1px;
    background : none;
    border : none;
    width : 293px;
    color : b8b8b8;
    font-size: 3.3em;
    font-weight : bold;
    letter-spacing: -1px;
}

.rename-input .write input {
    color : 333333;
}


.rename-info {
    margin-top : 20px;
}

.rename-info img{
    width : 551px;
}

.rename-ok-btn {
    width : 223px;
    height : 65px;
    background : url(../images/intro/bt_rename_ok.png) 0 0 no-repeat;
    margin-top : 30px;
}

.rename-ok-btn:active {
    background-position: 0 -65px;
}


/* 앱종료 팝업 .popup-wrap*/
.intro-popup-shotdown .popup-wrap{
    width : 682px;
}

.intro-popup-shotdown .box-tit{
    height : 60px;
}

.intro-popup-shotdown .intro-popup-msg-box {
    font-size : 2.5em;
    font-weight : bold;
    letter-spacing : -1px;
    color : #000;
}

.intro-popup-shotdown .box-cont-wrap{
    height : 256px;
    padding : 84px 0 0 0;
    text-align : center;
}

.intro-popup-shotdown .shotdown_btn_wrap {
    margin-top : 86px;
}

.intro-shotdown-cancel-btn{
    margin-right : 12px;
    background : url(../images/intro/bt_conn_cancel_s.png);
}


.intro-shotdown-ok-btn{
    background : url(../images/intro/bt_conn_ok_s.png);
}

/* 도움말 */


.intro-popup-help .popup-wrap{
   width : 1244px;
   height : 752px;
   padding : 24px 18px;
}

.intro-popup-help .box-tit {
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: -1px;
    color : #FFF;
}

.intro-popup-help .box-cont-wrap{
   height : 672px;
   padding : 0;
}

.intro-popup-help .box-cont-wrap .box-cont{
   height : 642px;
   overflow-y: scroll
}

.intro-popup-help .box-tit .help-close-btn{
    position : absolute;
    width:66px;
    height:66px;
    line-height: 80px;
    right : 10px;
    top : 1px;
}

.intro-popup-help .box-tit .help-close-btn img{
    width:66px;
    height:66px;
}

/* HELP :: FAQ List - 기존 모블로 컨텐츠의 board.css 사용. */
.faqlist {
    /*border-top:3px solid #16aff0;*/
    border-bottom:1px solid #e2e2e2;
    /*margin-top:15px;*/
}
.faqlist li {border-top:1px solid #e2e2e2;}
.faqlist li:first-child {border-top:none;}
.faqlist li .faq_q.on .faq_tit {
    background-image:url("../images/icons/ico_bullet_arrow_top_black_bold.gif"); 
    color:#0598d6;
}

.faq_q {display:block; padding:12px 20px; cursor:pointer;}
.faq_q:hover .faq_tit {color:#0598d6;}
.faq_q .inbox {
    background:url("../images/icons/ico_faq_question.gif") no-repeat 0 0;
    padding:0 0 0 43px;
    min-height:26px;
}
.faq_tit {
    background:url("../images/icons/ico_bullet_arrow_bottom_black_bold.gif") no-repeat right;
    font-size:1.2em; 
    color:#333;
    line-height:19px;
    padding:3px 20px 0 0;
}
.faq_a {
    padding:12px 20px;
    background-color:#fdfdfd;
    border-top:1px solid #e2e2e2;
    display:none;
}
.faq_answer {
    /* 이미지 없어서 주석처리, 기존 모블로 앱에도 없음.
    background:url("../images/icons/ico_faq_answer.gif") no-repeat 0 0; */
    padding-left:43px;
    font-size:1.2em;
}


/*메인 및 타이틀 공통*/
.main-wrap{
    width : 100%;
    height : 100%;
}

.main-contents{
    position : relative;
    width : 100%;
    height : 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-foot {
    position:absolute;
    left:0;
    bottom:0;
    z-index: 5000;
    width : 100%;
    height : 0px;
    overflow : hidden;
    -webkit-transition : height 0.4s, cubic-bezier(0.165, 0.84, 0.44, 1);
    transition : height 0.4s, cubic-bezier(0.165, 0.84, 0.44, 1);
}


/* 타이틀 화면 */
.title-scene .main-contents{
    position : relative;
    width : 100%;
    height : 100%;
    background : url(../images/common/bg_title.jpg) no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title-scene .main-contents .world-wrap{
    padding : 0;
    height : 100%;
}

.title-scene .game-tit {
    width : 681px;
    position : absolute;
    left : 50%;
    transform: translate(-50%, 0);
    bottom : 111px;
}

.title-scene .game-tit img {
    width : 100%;
}

.title-scene .loading-bar-wrap {
    position : absolute;
    width : 600px;
    height : 20px;
    bottom : 76px;
    left : 50%;
    padding : 4px;
    transform: translate(-50%, 0);
    /*background : url(../images/common/title_loading_bg.png) 0 0 no-repeat;*/
}

.title-scene .loading-bar-wrap .loading-bg {
    position : absolute;
    top : 0;
    left : 0;
    width : 600px;
    height : 20px;
}

.title-scene .loading-bar-wrap .loading-bg img{
    width : 100%;
}

.title-scene .loading-bar-wrap .loading-bar {
    position : relative;
    width : 592px;
    height : 12px;
}


.title-scene .main-foot {
    height : 51px;
    text-align : center;
}

.title-scene .main-foot img {
    width : 378px;
}

/* 메인 홈 */

.home-wrap {
    position: absolute;
    width : 100%;
    height : 100%;
    top:0;
    left:0;
}


.home-wrap .main-contents{
    background : url(../images/main/bg_home.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home-wrap .main-foot.on{
    height : 171px;
}


.home-wrap .card {
    position : absolute;
}

.home-wrap .card img{
    width : 100%;
}

.home-wrap .card#card_01{
    width : 340px;
    height : 430px;
    top : 50%; /*629*/
    left : 50%;
    transform : translate( -50%, -232px );
}

.home-wrap .card#card_02{
    width : 272px;
    height : 344px;
    top : 50%;
    left : 50%;
    transform : translate( 112px, -189px );
}

.home-wrap .card#card_03{
    width : 272px;
    height : 344px;
    top : 50%;
    left : 50%;
    transform : translate( -400px, -189px );
}

.main-lnb-container {
    position : absolute;
    width : 100%;
    top : -137px;
    -webkit-transition : top 0.4s, cubic-bezier(0.165, 0.84, 0.44, 1);
    transition : top 0.4s, cubic-bezier(0.165, 0.84, 0.44, 1);
}

.main-lnb-container.on {
    top : 0px;
}

.main-lnb-box {
    position : relative;
    width : 100%;
    height : 107px;
    padding : 30px 0 0 0;
}

.main-lnb-box .gallery-btn {
    position : absolute;
    top : 30px;
    left : 30px; /*버튼이미지 자체에 6px 여백*/
    width : 106px;
    height : 107px;
    background : url(../images/main/bt_gallery_open.png) 0 0 no-repeat;
}

.main-lnb-box .close-btn {
    position : absolute;
    top: 30px;
    right : 24px; /*버튼이미지 자체에 6px 여백*/
    width : 106px;
    height : 107px;
    background : url(../images/main/bt_shotdown.png) 0 0 no-repeat;
}

.main-lnb-box .gallery-btn:active,
.main-lnb-box .close-btn:active {
    background-position: 0 -107px;
}

.main-lnb-box .center-box {
    height : 107px;
    text-align: center;
    line-height: 107px;
}

.main-lnb-box .center-box img{
    margin-top : 25px;
}

.main-foot-container {
    position : absolute;
    width : 100%;
    left : 0;
    bottom : -171px;
    -webkit-transition : bottom 0.4s, cubic-bezier(0.165, 0.84, 0.44, 1);
    transition : bottom 0.4s, cubic-bezier(0.165, 0.84, 0.44, 1);
}

.main-foot-container.on{
    bottom : 0px;
}

.thumb-theme-contents {
    position : relative;
    width : 100%;
    height : 171px;
}

.thumb-theme-contents .thumb-control {
    left : 0;
    width : 100%;
}

.thumb-theme-contents .thumb-control .thumb-ui-btn {
    position : absolute;
    top : 49px;
    width : 76px;
    height : 76px;
}

.thumb-theme-contents .thumb-control .thumb-ui-btn.thumb-prev-btn {
    left : 30px;
    background : url(../images/main/bt_thumb_theme_prev.png) 0 0 no-repeat;
}

.thumb-theme-contents .thumb-control .thumb-ui-btn.thumb-next-btn {
    right : 30px;
    background : url(../images/main/bt_thumb_theme_next.png) 0 0 no-repeat;
}


.thumb-theme-contents .thumb-theme-list-wrap {
    height : 141px;
    padding : 15px 0;
    margin : 0 135px;
}

.thumb-theme-contents .thumb-theme-list-wrap li{
    text-align : center;
}

.thumb-theme-img {
    width : 222px;
    height : 145px;
}

.thumb-theme-bg {
    position : absolute;
    width : 100%;
    height : 171px;
    left : 0px;
    bottom : 0px;
}

.thumb-theme-bg-left{
    position : absolute;
    left:0;
    bottom:0;
    width : 320px;
    height : 171px;
    background : url(../images/main/bg_thumb_theme_left.png) 0 0 no-repeat;
}
.thumb-theme-bg-right{
    position : absolute;
    right:0;
    bottom:0;
    width : 320px;
    height : 171px;
    background : url(../images/main/bg_thumb_theme_right.png) 0 0 no-repeat;
}
.thumb-theme-bg-center{
    height : 171px;
    margin : 0 320px;
    background : url(../images/main/bg_thumb_theme_center.png) 0 0 repeat-x;
    
}


/* 게임화면 컨텐츠영역 */
.canvas-wrap{
    position : relative;
    height : 100%;
    width : 100%;
}

.canvas-wrap canvas{
    display:block;
    width : 100%;
    height : 100%;
}

.foot-btn-box-left{
    position : absolute;
    bottom : 0px;
    left : 24px;
    height : 0px;
    width : 106px;
    overflow : hidden;
}

.foot-btn-box-right{
    position : absolute;
    bottom : 0px;
    right : 24px;
    height : 0px;
    width : 106px;
    overflow : hidden;
}



.foot-btn {
    position : absolute;
    top : 0px;
    width : 106px;
    height : 107px;
    margin-right : 12px;
}

.foot-btn.lst {
    width : 106px;
    height : 107px;
    margin : 0;
}

/* 정부과제용*/
.foot-btn-box-center{
    position : absolute;
    margin-left : 50%;
    bottom : 0px;
    left : -265px;
    height : 0px;
    width : 530px;
    overflow : hidden;
}

/* 정부과제용*/
.top-btn-box-right{
    position : absolute;
    top : -107px;
    right : 24px;
    height : 107px;
    width : 106px;
    overflow : hidden;
}
/* 정부과제용*/
.eff-group{
    width : 530px;
}

.time-btn {
    background : url(../images/main/bt_time.png) 0 0 no-repeat;
}

.time-btn-night {
    background : url(../images/main/bt_time_night.png) 0 0 no-repeat;
}

.home-btn {
    width : 106px;
    height : 107px;
    background : url(../images/main/bt_shotdown.png) 0 0 no-repeat;
    /*
    background : url(../images/main/bt_home.png) 0 0 no-repeat;
    */
}

/* 정부과제용*/
.mirror-btn {
    width : 106px;
    height : 107px;
    background : url(../images/main/bt_mirror.png) 0 0 no-repeat;
}

/* 정부과제용*/
.ws-btn {
    width : 106px;
    height : 107px;
    background : url(../images/main/bt_ws.png) 0 0 no-repeat;
}

/* 정부과제용*/
.effect-toggle.leaf-btn{
    width : 106px;
    height : 107px;
    background : url(../images/main/bt_eff_leaf.png) 0 0 no-repeat;
}

/* 정부과제용*/
.effect-toggle.flower-btn{
    width : 106px;
    height : 107px;
    background : url(../images/main/bt_eff_flower.png) 0 0 no-repeat;
}

/* 정부과제용*/
.effect-toggle.snow-btn{
    width : 106px;
    height : 107px;
    background : url(../images/main/bt_eff_snow.png) 0 0 no-repeat;
}

/* 정부과제용*/
.effect-toggle.rain-btn{
    width : 106px;
    height : 107px;
    background : url(../images/main/bt_eff_rain.png) 0 0 no-repeat;
}

/* 정부과제용*/
.effect-toggle.off{
    background-position: 0 -107px;
}

/* 정부과제용*/
.quake-btn{
    width : 106px;
    height : 107px;
    background : url(../images/main/bt_eff_quake.png) 0 0 no-repeat;
}

/* 정부과제용*/
.fireworks-btn{
    width : 106px;
    height : 107px;
    background : url(../images/main/bt_eff_fireworks.png) 0 0 no-repeat;
}



/* 메인 홈/게임화면 팝업 */
.popup-layer-main {
    position : absolute;
    top : 50%;
    left : 50%;
    width : 544px;
    height : 351px;
    transform: translate(-50%, -50%);
}

.popup-layer-main.popup-delete .popup-contents {
    background : url(../images/common/pop_delete.png) 0 0 no-repeat;
}


.popup-layer-main.popup-save {
    background : url(../images/common/pop_save.png) 0 0 no-repeat;
}

.popup-layer-main.popup-shotdown {
    width : 664px;
    height : 361px;
    background : url(../images/common/pop_shotdown.png) 0 0 no-repeat;
}

.popup-layer-main.popup-read-confirm {
    width : 664px;
    height : 431px;
    background : url(../images/common/pop_read_board.png) 0 0 no-repeat;
}

.popup-layer-main.popup-guide {
    width : 1150px;
    height : 744px;
    background : url(../images/common/pop_guide.png) 0 0 no-repeat;
}

/* 정부과제 */
.popup-layer-main.popup-ws-fail {
    width : 664px;
    height : 361px;
    background : url(../images/common/pop_ws_fail.png) 0 0 no-repeat;
}

/* 정부과제 */
.popup-layer-main.popup-ws-end {
    background : url(../images/common/pop_ws_end.png) 0 0 no-repeat;
}

/* 정부과제 */
.popup-layer-main.popup-ws-bg {
    width : 664px;
    height : 361px;
    background : url(../images/common/pop_ws_bg.png) 0 0 no-repeat;
}

/* 정부과제 */
.popup-layer-main.popup-ws-bg .popup-txt-conn{
    position : absolute;
    top : 161px;
    width : 100%;
    text-align: center;
}
/* 정부과제 */
.popup-layer-main.popup-ws-bg .popup-txt-conn img{
    width : 371px;
}

/* 정부과제 */
.popup-layer-main.popup-ws-bg .popup-txt-share{
    position : absolute;
    top : 161px;
    width : 100%;
    text-align: center;
}
/* 정부과제 */
.popup-layer-main.popup-ws-bg .popup-txt-share img{
    width : 461px;
}

.popup-btn{
    position : absolute;
    bottom : 40px;
    left : 50%;
    margin-left : -103px;
    width : 206px;
    height : 81px;
}

.popup-btn:active {
    background-position: 0 -81px;
}

.popup-confirm-btn{
    background : url(../images/common/bt_popup_confirm.png) 0 0 no-repeat;
}

/* 정부과제 */
.popup-ws-bg .popup-confirm-btn,
.popup-ws-fail .popup-confirm-btn{
    left : 50%;
    margin-left : -217px;
}

.popup-shotdown .popup-confirm-btn{
    left : 50%;
    margin-left : -217px;
}

.popup-cancel-btn{
    left : 50%;
    bottom : 33px;
    margin-left : 7px;
    width : 214px;
    height : 90px;
    background : url(../images/common/bt_popup_cancel.png) 0 0 no-repeat;
}

.popup-cancel-btn:active{
    background-position: 0 -90px;
}


.popup-continue-btn {
    position : absolute;
    bottom : 40px;
    left : 50%;
    margin-left : -217px;
    width : 206px;
    height : 81px;
    background : url(../images/common/bt_popup_continue.png) 0 0 no-repeat;
}

.popup-new-btn {
    position : absolute;
    bottom : 40px;
    left : 50%;
    margin-left : 11px;
    width : 206px;
    height : 81px;
    background : url(../images/common/bt_popup_new.png) 0 0 no-repeat;
}


.popup-layer-main.popup-guide .popup-guide-btn {
    bottom : 17px;
}

.popup-close-btn {
    position : absolute;
    margin : 0;
    top : 12px;
    left : auto;
    right : 13px;
    width : 82px;
    height : 72px;
    background : url(../images/common/bt_guide_close.png) 0 0 no-repeat;
}

.popup-close-btn:active {
    background-position: 0 -72px;
}

.popup-close-btn-small{
    position : absolute;
    margin : 0;
    top : 7px;
    left : auto;
    right : 9px;
    width : 82px;
    height : 68px;
    background : url(../images/common/bt_pop_close_s.png) 0 0 no-repeat;
}

.popup-close-btn-small:active{
    background-position: 0 -68px;
}

/* guide popup */
@media screen and ( min-height:660px ) and ( max-height:744px ){
    .popup-layer-main.popup-guide {
        width : 860px;
        height : 556px;
        background : url(../images_m/common/pop_guide.png) 0 0 no-repeat;
    }
    .popup-close-btn {
        position : absolute;
        margin : 0;
        top : 9px;
        left : auto;
        right : 10px;
        width : 63px;
        height : 54px;
        background : url(../images_m/common/bt_guide_close.png) 0 0 no-repeat;
    }
    
    .popup-close-btn:active {
        background-position: 0 -54px;
    }
    
    
    .popup-layer-main.popup-guide .popup-guide-btn{
        position : absolute;
        bottom : 30px;
        left : 50%;
        margin-left : -77px;
        width : 155px;
        height : 61px;
        bottom : 13px;
        background : url(../images_m/common/bt_popup_confirm.png) 0 0 no-repeat;
    }
    
    .popup-layer-main.popup-guide .popup-guide-btn:active {
        background-position: 0 -61px;
    }
}

/* 1920 */
@media screen and (min-width:1920px) {
    
    .main-contents .world-wrap div img {
        width : 100%;
    }
    
    
    .home-wrap .card#card_01{
        width : 459px;
        top : 50%;
        left : 50%;
        transform : translate( -50%, -290px );
    }
    
    .home-wrap .card#card_02{
        width : 367px;
        top : 50%; /*629*/
        left : 50%;
        transform : translate( 151px, -232px );
    }
    
    .home-wrap .card#card_03{
        width : 367px;
        top : 50%; /*629*/
        left : 50%;
        transform : translate( -518px, -232px );
    }
    
    
    .main-lnb-box .center-box {
        height : 107px;
        text-align: center;
        line-height: 107px;
    }
    
    .main-lnb-box .center-box img {
        width : 815px;
    }
    
    
    
    .title-scene .game-tit{
        width : 919px;
        position : absolute;
        bottom : 150px;
    }
    
    .title-scene .game-tit img{
        width : 100%;
    }
    
    
    
    .title-scene .loading-bar-wrap {
        position : absolute;
        width : 900px;
        height : 30px;
        bottom : 76px;
        left : 50%;
        padding : 6px;
        transform: translate(-50%, 0);
    }
    
    .title-scene .loading-bar-wrap .loading-bg {
        position : absolute;
        top : 0;
        left : 0;
        width : 900px;
        height : 30px;
    }
    
    .title-scene .loading-bar-wrap .loading-bg img{
        width : 100%;
    }
    
    .title-scene .loading-bar-wrap .loading-bar {
        position : relative;
        width : 888px;
        height : 18px;
    }
    
    
    .title-scene .main-foot {
        height : 68px;
        text-align : center;
    }
    
    
    .title-scene .main-foot img {
        width : 510px;
    }
    
}



