<script id="style" type="text/template">
    <style>
        .debug {
            background-color: rgba( 0, 0, 0, 0.3 ); 
            color: #FFF;
            position:absolute;
            bottom : 0;
            right:0;
            width : 30%;
            height : 60%;
            overflow-y : scroll;
            z-index: 99999;
            display:block;
        }
    </style>
</script>
<script id="dom" type="text/template">
    <div class="debug"></div>
</script>